<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmreliefdund.kushkumardhawan.com.instructions">

<application
    android:allowBackup="true"
    android:label="@string/app_name"
    android:supportsRtl="true">


    <activity  android:name=".MaterialTutorialActivity"
        >

    </activity>
</application>

</manifest>


